# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IDE configs
.idea/
.vscode/

# Project configs
data/*
models/*
logs/*
logs/*.zip
tables
tools
.venv/
venv/